version: "3.9"
services:
  app:
    build:
      context: "./"
    ports:
      - "127.0.0.1:8080:8080"
    healthcheck:
      test: "wget --tries=1 --no-verbose -qO- http://localhost:8080/actuator/health | grep -q UP"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    depends_on:
      - db
      - influx
    environment:
      bss.file-api.url: "http://mock-file-api:8080"
      spring.security.user.password: "password"
      spring.datasource.url: "jdbc:postgresql://db:5432/postgres?currentSchema=bss_web"
      spring.datasource.username: "postgres"
      spring.datasource.password: "postgres"
      management.influx.metrics.export.uri: "http://influx:8086"
      management.influx.metrics.export.token: "token"
      management.influx.metrics.export.org: "org"
      management.influx.metrics.export.user-name: "user"
      management.influx.metrics.export.password: "password"
      management.influx.metrics.export.bucket: "bucket"
  db:
    image: "postgres:16.0-alpine3.18"
    environment:
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "127.0.0.1:5432:5432"
    healthcheck:
      test: "pg_isready -q -U postgres"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
  influx:
    image: "influxdb:2.7.1-alpine"
    ports:
      - "127.0.0.1:8086:8086"
    healthcheck:
      test: "influx ping"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    environment:
      DOCKER_INFLUXDB_INIT_MODE: "setup"
      DOCKER_INFLUXDB_INIT_USERNAME: "user"
      DOCKER_INFLUXDB_INIT_PASSWORD: "password"
      DOCKER_INFLUXDB_INIT_ORG: "org"
      DOCKER_INFLUXDB_INIT_BUCKET: "bucket"
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: "token"
  mock-file-api:
    image: "wiremock/wiremock:2.35.0-alpine"
    ports:
      - "127.0.0.1:8888:8080"
    healthcheck:
      test: "wget --no-verbose --tries=1 --spider http://localhost:8080/__admin/docs || exit 1"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - "./stubs:/home/wiremock/mappings"
