version: "3.9"
services:
  app:
    build:
      context: "./"
    ports:
      - "127.0.0.1:8080:8080"
    healthcheck:
      test: "wget --tries=1 --no-verbose -qO- http://localhost:8080/actuator/health | grep -q UP"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    depends_on:
      - postgres
    environment:
      bss.file-api.url: "http://mock-file-api:8080"
      spring.security.user.password: "password"
      spring.datasource.url: "jdbc:postgresql://postgres:5432/postgres?currentSchema=bss_web"
      spring.datasource.username: "postgres"
      spring.datasource.password: "postgres"
      spring.flyway.default-schema: "bss_web"
  postgres:
    image: "postgres:16.2-alpine3.18"
    environment:
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "127.0.0.1:5432:5432"
    healthcheck:
      test: "pg_isready -q -U postgres"
      start_period: 5s
      interval: 30s
      timeout: 5s
      retries: 3
  mock-file-api:
    image: "wiremock/wiremock:2.35.0"
    ports:
      - "127.0.0.1:8888:8080"
    healthcheck:
      test: "curl -fs http://localhost:8080/__admin/docs > /dev/null || exit 1"
      start_period: 5s
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - "./stubs:/home/wiremock/mappings"
