version: "3.9"
services:
  app:
    build:
      context: "./"
    ports:
      - "127.0.0.1:8080:8080"
    healthcheck:
      test: "curl --fail --silent localhost:8080/actuator/health | grep UP || exit 1"
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 20s
    depends_on:
      - db
      - influx
    environment:
      spring.datasource.url: "jdbc:postgresql://db:5432/postgres?currentSchema=bss_web"
      spring.datasource.username: "postgres"
      spring.datasource.password: "postgres"
      spring.datasource.driver-class-name: "org.postgresql.Driver"
      management.influx.metrics.export.uri: "http://influx:8086"
      management.influx.metrics.export.token: "token"
      management.influx.metrics.export.org: "org"
      management.influx.metrics.export.user-name: "user"
      management.influx.metrics.export.password: "password"
      management.influx.metrics.export.bucket: "bucket"
  db:
    image: "postgres:15.1-alpine3.16"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    ports:
      - "127.0.0.1:5432:5432"
    healthcheck:
      test: "pg_isready -q"
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - "./db:/docker-entrypoint-initdb.d"
  influx:
    image: "influxdb:2.5.1-alpine"
    ports:
      - "127.0.0.1:8086:8086"
    environment:
      DOCKER_INFLUXDB_INIT_MODE: "setup"
      DOCKER_INFLUXDB_INIT_USERNAME: "user"
      DOCKER_INFLUXDB_INIT_PASSWORD: "password"
      DOCKER_INFLUXDB_INIT_ORG: "org"
      DOCKER_INFLUXDB_INIT_BUCKET: "bucket"
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: "token"
