version: 2.1
orbs:
  codecov: codecov/codecov@4.0.1
  gradle: circleci/gradle@3.0.0
  docker: circleci/docker@2.5.0
  github-cli: circleci/github-cli@2.3.0
executors:
  jdk:
    docker:
      - image: cimg/openjdk:21.0.2
  jdk-machine:
    machine:
      image: ubuntu-2204:2023.10.1
jobs:
  gradle_docker:
    parameters:
      command:
        type: string
        default: test --continue
      after:
        type: steps
        default: []
      executor:
        type: executor
        default: jdk
    executor: << parameters.executor >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
          version: 20.10.24
      - gradle/with_cache:
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          steps:
            - run: ./gradlew << parameters.command >>
      - steps: << parameters.after >>
  gradle_integration:
    executor: jdk-machine
    steps:
      - run:
          name: Install OpenJDK 21
          command: |
            sudo apt-get update && sudo apt-get install openjdk-21-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-21-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-21-openjdk-amd64/bin/javac
      - checkout
      - run: docker compose up -d
      - gradle/with_cache:
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          steps:
            - run: ./gradlew integrationTest --continue
      - gradle/collect_test_results:
          reports_path: integration/build/reports
          test_results_path: integration/build/test-results
      - run: docker compose down
workflows:
  Build app:
    jobs:
      - gradle/run:
          name: Lint
          command: spotlessCheck
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          executor: jdk
      - gradle_integration:
          name: Integration test
      - gradle_docker:
          name: Coverage verification
          command: jacocoTestCoverageVerification
      - gradle/run:
          name: Build boot jar
          command: bootJar
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          executor: jdk
      - gradle_docker:
          name: Unit test
          after:
            - run:
                name: Save test results
                command: |
                  mkdir -p test-results/junit/
                  find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} test-results/junit/ \;
            - gradle/collect_test_results:
                reports_path: server/build/reports
                test_results_path: test-results
            - codecov/upload:
                flags: unit
      - docker/hadolint:
          name: Lint Dockerfile
      - docker/publish:
          name: Build docker image
          deploy: false
          image: bsstudio/bss-web-admin-backend
          registry: ghcr.io
          executor: docker/docker
          remote-docker-version: 20.10.24
          use-remote-docker: true
          remote-docker-dlc: true
          use-buildkit: true
  Release:
    jobs:
      ## Publish image to GitHub Container Registry
      ## Docker Layer Caching is enabled to speed up the build
      - docker/publish:
          name: Publish image
          filters: &tagged
            branches:
              ignore: /.*/
            tags:
              only: /.*/
          image: bsstudio/bss-web-admin-backend
          registry: ghcr.io
          tag: latest,<< pipeline.git.tag >>,$CIRCLE_SHA1
          executor: docker/docker
          remote-docker-version: 20.10.24
          use-remote-docker: true
          remote-docker-dlc: true
          use-buildkit: true
      ## Create a release on GitHub
      - github-cli/release:
          name: Create release
          tag: $CIRCLE_TAG
          title: $CIRCLE_TAG
