version: 2.1
orbs: 
  codecov: codecov/codecov@3.3.0
  gradle: circleci/gradle@3.0.0
  docker: circleci/docker@2.4.0
executors:
  jdk:
    docker:
      - image: cimg/openjdk:17.0.8
  jdk-machine:
    machine:
      image: ubuntu-2204:2022.10.2
jobs:
  gradle_docker:
    parameters:
      command:
        type: string
        default: test --continue
      after:
        type: steps
        default: []
      executor:
        type: executor
        default: jdk
    executor: << parameters.executor >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
          version: 20.10.24
      - gradle/with_cache:
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          steps:
            - run: ./gradlew << parameters.command >>
      - steps: << parameters.after >>
  gradle_integration:
    executor: jdk-machine
    steps:
      - checkout
      - run: docker compose up -d
      - gradle/with_cache:
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          steps:
            - run: ./gradlew integrationTest --continue
      - gradle/collect_test_results:
          reports_path: integration/build/reports
          test_results_path: integration/build/test-results
      - run: docker compose down
  fork_join:
    docker:
      - image: alpine:latest
    steps:
      - run: echo "Fork!"
  docker_publish:
    executor: docker/machine
    steps:
      - attach_workspace:
          at: ./
      - run: docker load < bss-web-admin-backend.tar
      - docker/check:
          registry: ghcr.io
          use-docker-credentials-store: true
      - docker/push:
          image: bsstudio/bss-web-admin-backend
          registry: ghcr.io
          tag: latest
workflows:
  Build app:
    jobs:
      - gradle/run:
          name: Lint
          command: ktlintCheck
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          executor: jdk
      - gradle_integration:
          name: Integration test
      - gradle_docker:
          name: Coverage verification
          command: jacocoTestCoverageVerification
      - gradle/run:
          name: Build boot jar
          command: bootJar
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          executor: jdk
      - gradle_docker:
          name: Unit test
          after:
            - run:
                name: Save test results
                command: |
                  mkdir -p test-results/junit/
                  find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} test-results/junit/ \;
            - gradle/collect_test_results:
                reports_path: server/build/reports
                test_results_path: test-results
            - codecov/upload
      - docker/hadolint:
          name: Lint Dockerfile
          dockerfiles: Dockerfile
      - docker/publish:
          name: Build image
          deploy: false
          image: bsstudio/bss-web-admin-backend
          registry: ghcr.io
          tag: latest
          executor: docker/docker
          remote-docker-version: 20.10.24
          use-remote-docker: true
          remote-docker-dlc: true
          use-buildkit: true
          before_build:
            - restore_cache:
                key: docker-layers-v1
                paths:
                  - bss-web-admin-backend.tar
          after_build:
            - run: docker save --output bss-web-admin-backend.tar ghcr.io/bsstudio/bss-web-admin-backend:latest
            - save_cache:
                key: docker-layers-v1
                paths:
                  - bss-web-admin-backend.tar
            - persist_to_workspace:
                root: ./
                paths:
                  - bss-web-admin-backend.tar
      - fork_join:
          name: Fork join build
          requires:
            - Lint
            - Coverage verification
            - Build boot jar
            - Unit test
            - Integration test
            - Build image
            - Lint Dockerfile
      - docker_publish:
          name: Publish image
          requires:
            - Fork join build
          filters:
            branches:
              only: main
