version: 2.1
orbs: 
  codecov: codecov/codecov@3.2.4
  node: circleci/node@5.0.3
  gradle: circleci/gradle@3.0.0
  docker: circleci/docker@2.1.4
executors:
  jdk:
    docker:
      - image: cimg/openjdk:17.0.5
jobs:
  gradle_test:
    executor: jdk
    steps:
      - checkout
      - gradle/with_cache:
          steps:
            - run: ./gradlew test --parallel
      - gradle/collect_test_results:
          reports_path: server/web/build/reports/
          test_results_path: server/web/build/test-results/
      - gradle/collect_test_results:
          reports_path: server/service/build/reports/
          test_results_path: server/service/build/test-results/
      - codecov/upload
workflows:
  app:
    jobs:
      - gradle/run:
          command: ktlintCheck --parallel
          executor: jdk
      - gradle/run:
          command: jacocoTestCoverageVerification --parallel
          executor: jdk
      - gradle/run:
          command: bootJar --parallel
          executor: jdk
      - gradle/run:
          command: bootWar --parallel
          executor: jdk
      - node/run:
          app-dir: ~/project/integration
          npm-run: lint
          version: 18.12.1
      - gradle_test
      - node/test:
          app-dir: ~/project/integration
          run-command: test:ci
          setup:
            - setup_remote_docker:
                docker_layer_caching: true
                version: 20.10.18
          test-results-for: jest
          version: 18.12.1
      - node/test:
          app-dir: ~/project/integration
          run-command: test:ci:war
          setup:
            - setup_remote_docker:
                docker_layer_caching: true
                version: 20.10.18
          test-results-for: jest
          version: 18.12.1
      - docker/hadolint:
          dockerfiles: Dockerfile:war.Dockerfile
