version: 2.1
orbs: 
  codecov: codecov/codecov@4.0.1
  gradle: circleci/gradle@3.0.0
  docker: circleci/docker@2.5.0
executors:
  jdk:
    docker:
      - image: cimg/openjdk:21.0.2
  jdk-machine:
    machine:
      image: ubuntu-2204:2023.10.1
jobs:
  gradle_docker:
    parameters:
      command:
        type: string
        default: test --continue
      after:
        type: steps
        default: []
      executor:
        type: executor
        default: jdk
    executor: << parameters.executor >>
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
          version: 20.10.24
      - gradle/with_cache:
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          steps:
            - run: ./gradlew << parameters.command >>
      - steps: << parameters.after >>
  gradle_integration:
    executor: jdk-machine
    steps:
      - run:
          name: Install OpenJDK 21
          command: |
            sudo apt-get update && sudo apt-get install openjdk-21-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-21-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-21-openjdk-amd64/bin/javac
      - checkout
      - run: docker compose up -d
      - gradle/with_cache:
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          steps:
            - run: ./gradlew integrationTest --continue
      - gradle/collect_test_results:
          reports_path: integration/build/reports
          test_results_path: integration/build/test-results
      - run: docker compose down
  fork_join:
    docker:
      - image: alpine:latest
    steps:
      - run: echo "Fork!"
      - run: echo ${CIRCLE_TAG}
  docker_publish:
    executor: docker/machine
    steps:
      - attach_workspace:
          at: ./
      - run: docker load < bss-web-admin-backend.tar
      - docker/check:
          registry: ghcr.io
          use-docker-credentials-store: true
      - docker/push:
          image: bsstudio/bss-web-admin-backend
          registry: ghcr.io
          tag: ${CIRCLE_TAG},latest
workflows:
  Build app:
    jobs:
      - gradle/run:
          name: Lint
          command: spotlessCheck
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          executor: jdk
      - gradle_integration:
          name: Integration test
      - gradle_docker:
          name: Coverage verification
          command: jacocoTestCoverageVerification
      - gradle/run:
          name: Build boot jar
          command: bootJar
          deps_checksum_file: build.gradle.kts
          cache_key: v2
          executor: jdk
      - gradle_docker:
          name: Unit test
          after:
            - run:
                name: Save test results
                command: |
                  mkdir -p test-results/junit/
                  find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} test-results/junit/ \;
            - gradle/collect_test_results:
                reports_path: server/build/reports
                test_results_path: test-results
            - codecov/upload:
                flags: unit
      - docker/hadolint:
          name: Lint Dockerfile
          dockerfiles: Dockerfile
      - docker/publish:
          name: Build image
          deploy: false
          image: bsstudio/bss-web-admin-backend
          registry: ghcr.io
          tag: latest
          executor: docker/docker
          remote-docker-version: 20.10.24
          use-remote-docker: true
          remote-docker-dlc: true
          use-buildkit: true
          before_build:
            - restore_cache:
                key: docker-layers-v1
                paths:
                  - bss-web-admin-backend.tar
          after_build:
            - run: docker save --output bss-web-admin-backend.tar ghcr.io/bsstudio/bss-web-admin-backend:latest
            - save_cache:
                key: docker-layers-v1
                paths:
                  - bss-web-admin-backend.tar
            - persist_to_workspace:
                root: ./
                paths:
                  - bss-web-admin-backend.tar
  Publish app:
    when:
      and:
        - matches:
            pattern: /^v.+$/
            value: << pipeline.git.tag >>
        - equal: [master, << pipeline.git.branch >>]
    jobs:
      - docker_publish:
          name: Publish image
          requires:
            - Lint
            - Coverage verification
            - Build boot jar
            - Unit test
            - Integration test
            - Build image
            - Lint Dockerfile
