version: 2.1
orbs: 
  codecov: codecov/codecov@3.2.5
  node: circleci/node@5.1.0
  gradle: circleci/gradle@3.0.0
  docker: circleci/docker@2.2.0
executors:
  jdk:
    docker:
      - image: cimg/openjdk:17.0.8
  node:
    machine:
      image: ubuntu-2204:2022.10.2
jobs:
  integration_test:
    executor: node
    steps:
      - checkout
      - node/install-packages:
          app-dir: ~/project/integration
      - run:
          command: npm run test:ci -- --testTimeout << parameters.timeout >>
          working_directory: ~/project/integration
          environment:
            DOCKER_COMPOSE_FILE_NAME: << parameters.compose_files >>
            DEBUG: testcontainers:*
      - store_test_results:
          path: ~/project/integration/junit.xml
    parameters:
      timeout:
        type: integer
        default: 5000
      compose_files:
        type: string
        default: docker-compose.yml,docker-compose.ci.yml
  gradle_test:
    executor: jdk
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
          version: 20.10.24
      - gradle/with_cache:
          deps_checksum_file: build.gradle.kts
          steps:
            - run: ./gradlew test --continue --parallel
      - run:
          name: Save test results
          command: |
            mkdir -p test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} test-results/junit/ \;
      - gradle/collect_test_results:
          reports_path: server/build/reports
          test_results_path: test-results
      - codecov/upload
  gradle_coverage:
    executor: jdk
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
          version: 20.10.24
      - gradle/with_cache:
          deps_checksum_file: build.gradle.kts
          steps:
            - run: ./gradlew jacocoTestCoverageVerification --parallel
  fork_join:
    docker:
      - image: alpine:latest
    steps:
      - run: echo "Fork!"
  docker_publish:
    executor: docker/machine
    steps:
      - attach_workspace:
          at: ./
      - run: docker load < bss-web-admin-backend.tar
      - docker/check:
          registry: ghcr.io
          use-docker-credentials-store: true
      - docker/push:
          image: bsstudio/bss-web-admin-backend
          registry: ghcr.io
          tag: latest
workflows:
  Build app:
    jobs:
      - gradle/run:
          name: Lint
          command: ktlintCheck --parallel
          deps_checksum_file: build.gradle.kts
          executor: jdk
      - gradle_coverage:
          name: Coverage verification
      - gradle/run:
          name: Build boot jar
          command: bootJar --parallel
          deps_checksum_file: build.gradle.kts
          executor: jdk
      - node/run:
          name: Lint integration test
          app-dir: ~/project/integration
          npm-run: lint
          version: 18.12.1
      - gradle_test:
          name: Unit test
      - integration_test:
          name: Integration test
      - docker/hadolint:
          name: Lint Dockerfile
          dockerfiles: Dockerfile
      - docker/publish:
          name: Build image
          deploy: false
          image: bsstudio/bss-web-admin-backend
          registry: ghcr.io
          tag: latest
          executor: docker/docker
          remote-docker-version: 20.10.24
          use-remote-docker: true
          remote-docker-dlc: true
          use-buildkit: true
          before_build:
            - restore_cache:
                key: docker-layers-v1
                paths:
                  - bss-web-admin-backend.tar
          after_build:
            - run: docker save --output bss-web-admin-backend.tar ghcr.io/bsstudio/bss-web-admin-backend:latest
            - save_cache:
                key: docker-layers-v1
                paths:
                  - bss-web-admin-backend.tar
            - persist_to_workspace:
                root: ./
                paths:
                  - bss-web-admin-backend.tar
      - fork_join:
          name: Fork join build
          requires:
            - Lint
            - Coverage verification
            - Build boot jar
            - Lint integration test
            - Unit test
            - Integration test
            - Build image
            - Lint Dockerfile
      - docker_publish:
          name: Publish image
          requires:
            - Fork join build
          filters:
            branches:
              only: main
