version: 2.1
orbs: 
  codecov: codecov/codecov@3.2.4
  node: circleci/node@5.0.3
  gradle: circleci/gradle@3.0.0
  docker: circleci/docker@2.2.0
executors:
  jdk:
    docker:
      - image: cimg/openjdk:17.0.5
  node:
    machine:
      image: ubuntu-2204:2022.10.2
jobs:
  integration_test:
    executor: node
    steps:
      - checkout
      - node/install-packages:
          app-dir: ~/project/integration
      - run:
          command: npm run << parameters.command >>
          working_directory: ~/project/integration
          environment:
      - store_test_results:
          path: ~/project/integration/junit.xml
    parameters:
      command:
        type: string
        default: "test:ci"
  gradle_test:
    executor: jdk
    steps:
      - checkout
      - gradle/with_cache:
          deps_checksum_file: build.gradle.kts
          steps:
            - run: ./gradlew test --parallel
      - gradle/collect_test_results:
          reports_path: server/web/build/reports/
          test_results_path: server/web/build/test-results/
      - gradle/collect_test_results:
          reports_path: server/service/build/reports/
          test_results_path: server/service/build/test-results/
      - codecov/upload
workflows:
  app:
    jobs:
      - gradle/run:
          command: ktlintCheck --parallel
          deps_checksum_file: build.gradle.kts
          executor: jdk
      - gradle/run:
          command: jacocoTestCoverageVerification --parallel
          deps_checksum_file: build.gradle.kts
          executor: jdk
      - gradle/run:
          command: bootJar --parallel
          deps_checksum_file: build.gradle.kts
          executor: jdk
      - gradle/run:
          command: bootWar --parallel
          deps_checksum_file: build.gradle.kts
          executor: jdk
      - node/run:
          app-dir: ~/project/integration
          npm-run: lint
          version: 18.12.1
      - gradle_test
      - integration_test
      - integration_test:
          command: "test:ci:war -- --testTimeout 20000"
      - docker/hadolint:
          dockerfiles: Dockerfile:war.Dockerfile
      - docker/publish:
          deploy: false
          use-buildkit: true
          image: csikb/$CIRCLE_PROJECT_REPONAME
      - docker/publish:
          deploy: false
          use-buildkit: true
          dockerfile: war.Dockerfile
          image: csikb/$CIRCLE_PROJECT_REPONAME
