version: 2.1
orbs: 
  codecov: codecov/codecov@3.2.4
  node: circleci/node@5.0.3
  gradle: circleci/gradle@3.0.0
  docker: circleci/docker@2.1.4
executors:
  jdk:
    docker:
      - image: cimg/openjdk:17.0.5
workflows:
  app:
    jobs:
      - gradle/run:
          command: ktlintCheck --parallel
          executor: jdk
      - gradle/run:
          command: jacocoTestCoverageVerification --parallel
          executor: jdk
      - gradle/run:
          command: bootJar --parallel
          executor: jdk
      - gradle/run:
          command: bootWar --parallel
          executor: jdk
      - node/test:
          app-dir: ~/project/integration
          run-command: test:ci -- --ci
          test-results-for: jest
          version: 18.12.1
