name: "Docker Compose caching"

on:
  pull_request:

permissions:
  contents: read

jobs:
  compose:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions: { contents: read }
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/bake-action@v6
        with:
          load: true
          set: |
            *.cache-to=type=gha,mode=max
            *.cache-from=type=gha

      - name: Start Docker compose
        run: docker compose up --build --wait

      - name: Stop Docker compose
        run: docker compose down
