name: Docker

on:
  pull_request:
  workflow_dispatch:
  merge_group:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [ "main" ]
  release:
    types: [ published ]

permissions: read-all

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: hadolint/hadolint-action@54c9adbab1582c2ef04b2016b760714a4bfde3cf # v3.1.0

  build:
    name: Docker build and publish ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
            name: amd64
          - platform: linux/arm64/v8
            runner: ubuntu-24.04-arm
            name: arm64
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=schedule
            type=semver,pattern={{raw}}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{major}}
            type=ref,event=branch
            type=ref,event=pr
          # on.schedule: nightly
          # on.push:tag: latest (auto), v1.2.3, v.1,2, v.1
          # on.push.branch: branchName
          # on.workflow_dispatch: branchName
          # on.pull_request: branchName (won't be pushed)

      - run: docker images

      - uses: docker/bake-action@37816e747588cb137173af99ab33873600c46ea8 # v6.8.0
        with:
          push: ${{ github.event_name != 'pull_request' && github.event_name != 'merge_group' }}
          files: cwd://${{ steps.meta.outputs.bake-file }}
          sbom: true
          provenance: true
          set: |
            *.platform=${{ matrix.platform }}
            *.cache-from=type=gha,scope=${{ matrix.platform }}
            *.cache-to=type=gha,scope=${{ matrix.platform }},mode=max

      - uses: anchore/sbom-action@7b36ad622f042cab6f59a75c2ac24ccb256e9b45 # v0.20.4
        with:
          image: ${{ fromJSON(steps.meta.outputs.json).tags[0] }}
          artifact-name: sbom-${{ matrix.name }}.spdx.json
          dependency-snapshot: true
