name: Publish

on:
  pull_request:
  workflow_dispatch:
  merge_group:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [ "main" ]
  release:
    types: [ published ]

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-22.04
    name: "Gradle"
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: "liberica"
          java-version: 21

      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}

      - run: "./gradlew publishToMavenLocal -Pversion=${{ github.event.release.tag_name || github.ref || 'SNAPSHOT' }}"

      - if: github.event_name == 'push' || github.event_name == 'release'
        run: "./gradlew publish -Pversion=${{ github.ref || 'SNAPSHOT' }}"
        env:
          GPR_USERNAME: ${{ github.actor }}
          GPR_PASSWORD: ${{ github.token }}
